a{
    text-decoration: none!important;
    color:black!important;
}.row{--bs-gutter-x: 0rem!important;}
.nav-link.active{
background-color: aqua;
}
.nav-link{
    color:black!important;
}

.btn{
    margin-top: 0px!important; margin-left: 0px!important; margin-right: 10px!important;
    text-align: left!important;
}
.menuicon{
    margin-right: 10px;
    margin-bottom: 5px;
}
.btn-lg {
    border: white!important;}

.navbar{
    border-bottom: 2px solid rgba(0, 0, 0, 0.075);
    position: fixed!important;
    background-color: white!important;
    z-index: 10;
    height: 60px;
    width: 100%;
}
.menu{
    border-right: 2px solid rgba(0, 0, 0, 0.075);
    top: 60px;
    position: relative!important;
}
.fixed{
    position: fixed!important;
}
.hero{
    z-index: 1;
    top: 50px;
    position: relative!important;

}

.btn-lg{

    --bs-btn-padding-y: 10px!important;
    --bs-btn-padding-x: 1rem!important;
    --bs-btn-font-size: 1rem!important;
    margin-right: 3px!important;
    
}
.leftmenu{    width: 15%!important;}

.btn-primary{
    border-radius: 10px!important;
}
.col-10{
    position: relative!important;
   
}.stick{
    height: 509px!important;
}
.top{top:60px!important;
    position: relative;
   
}
.trys{
    padding-right: 1rem!important;
}
.mlp{
    margin-left: -15px!important;
    height: 73px;

}
.myd{
    justify-content: center!important;
    margin-top: 20px!important;
}.myd1{
    justify-content: center!important;
}
.card:hover {
    transform: scale(1.1);
  }
  .card {
    transition: transform 0.5s;
  }
  
.simg{
    height: 73px;
    margin-left: 10px!important;
}.simg4{
    height: 73px;
}.imgmap{
    height: 64px;
    margin-left: 10px!important;
    margin-bottom: 10px!important;
}.rimg{

        height: 98px;
        margin-left: -5px!important;
    }

.sutxt{
    margin-left: 12px!important;
    margin-right: -26px!important;
}
.su{
    margin-bottom: 0px!important;
    margin-right: 58px!important;

}
.sec{
    margin-bottom: 0px!important;

}
.support{
    top: 70px;
    position: relative;
}.support3{
    top: 60px;
    position: relative;
}
.form-control{
    margin: 15px!important;
}
.buttoncolor{
    background-color: #ced4da!important;
    color:white!important;
}
.google{
    margin-right: 9px;
    font-size: 20px!important;
}
form .form-control:focus{
    border-color: #ced4da!important;
    box-shadow: none!important;
  }
.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
  }
  
.ht{
    height: 100%;
}
hr{
    width: 100%!important;
    margin-top: 25px!important;
}
.bgcolor{
    background-color: rgb(246, 241, 233)!important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  
}
.OfferCard {
    width: 148px;
    height: 90px;
    margin-left: 2px;
    background: rgb(233 225 0);
    border-radius: 10px;
    margin-top: 10px;
}
    .product{
        width: 118%!important;
        margin-left: -26px;
        margin-top: -29px;
    }    
    .trending{
        margin-top: -133px;
        margin-left: 81px;
    font-size: small;
    font-weight: 700;
    color: #0c0c0cb5;
}
.btn-primary {
    --bs-btn-color: #000000!important;
    --bs-btn-bg: #e9e100!important;
    --bs-btn-border-color: #e9e100!important;
    --bs-btn-hover-color: #000000!important;
    --bs-btn-hover-bg: #e9e100!important;
    --bs-btn-hover-border-color: #e9e100!important;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #000000!important;
    --bs-btn-active-bg: #e9e100!important;
    --bs-btn-active-border-color: #e9e100!important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000000!important;
    --bs-btn-disabled-bg: #e9e100!important;
    --bs-btn-disabled-border-color: #e9e100!important;
}

.line{
    padding-left: 20px;
    margin-left: 62px;
    width: 81%!important;

}
.mar{
    margin-top: 7px!important;
    margin-right: 0px!important;
    margin-left: 0px!important;
    margin-bottom: 7px!important;
    border-radius: 0%!important;
}
.loginhr{
    padding-left: 20px;
    margin-left: 62px;
    width: 70%!important;

}
.code{
    display: flex!important;
    flex-direction: row!important;
}
.prefix{
    
    background-color: #c3c3c3;
    margin-bottom: 7px;
    margin-top: 7px;
    text-align: center;
    padding: 11px;
    border-top-left-radius: 0.5rem!important;
    border-bottom-left-radius: 0.5rem!important;
}
.brs{
    border-radius: 0.5rem!important;
}.brs1{
    border-top-right-radius: 0.5rem!important;
    border-bottom-right-radius: 0.5rem!important;
}