a{
    text-decoration: none!important;
    color:black!important;
}.row{--bs-gutter-x: 0rem!important;}
.nav-link.active{
background-color: aqua;
}
.nav-link{
    color:black!important;
}

.btn{
    margin-top: 0px!important; margin-left: 0px!important; margin-right: 10px!important;
    text-align: left!important;
}
.menuicon{
    margin-right: 10px;
    margin-bottom: 5px;
}
.btn-lg {
    border: white!important;}

.navbar{
    border-bottom: 2px solid rgba(0, 0, 0, 0.075);
    position: fixed!important;
    background-color: white!important;
    z-index: 10;
    height: 60px;
    width: 100%;
}
.menu{
    border-right: 2px solid rgba(0, 0, 0, 0.075);
    top: 60px;
    position: relative!important;
}
.fixed{
    position: fixed!important;
}
.hero{
    z-index: 1;
    top: 50px;
    position: relative!important;

}

.btn-lg{

    --bs-btn-padding-y: 10px!important;
    --bs-btn-padding-x: 1rem!important;
    --bs-btn-font-size: 1rem!important;
    margin-right: 3px!important;
    
}
.leftmenu{    width: 13.4%!important;}

.btn-primary{
    border-radius: 10px!important;
}
.col-10{
    position: relative!important;
   
}.stick{
    height: 509px!important;
}
hr{
    width: 100%!important;
}
.OfferCard {
    width: 148px;
    height: 90px;
    margin-left: 2px;
    background: rgb(233 225 0);
    border-radius: 10px;
    margin-top: 10px;
}
    .product{
        width: 118%!important;
        margin-left: -26px;
        margin-top: -29px;
    }    
    .trending{
        margin-top: -133px;
        margin-left: 81px;
    font-size: small;
    font-weight: 700;
    color: #0c0c0cb5;
}
.btn-primary {
    --bs-btn-color: #000000!important;
    --bs-btn-bg: #e9e100!important;
    --bs-btn-border-color: #e9e100!important;
    --bs-btn-hover-color: #000000!important;
    --bs-btn-hover-bg: #e9e100!important;
    --bs-btn-hover-border-color: #e9e100!important;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #000000!important;
    --bs-btn-active-bg: #e9e100!important;
    --bs-btn-active-border-color: #e9e100!important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000000!important;
    --bs-btn-disabled-bg: #e9e100!important;
    --bs-btn-disabled-border-color: #e9e100!important;
}
.nav_img{
    padding-left: 15px;
}
.logo-text{
    padding-left: 3px;
    font-family: roboto !important;
    font-weight: bold;
    font-size: 22px;
}
.button-nav{
    border-radius: 100px !important;
}